<h3>Schedules of the users</h3><br>

<%schedules.forEach((schedule,index) =>{ %>

    <%=index+1%>. &lt;<%=schedule.username%> - <%=schedule.day.days%> <%=schedule.start_at%> - <%=schedule.end_at%>&gt; <br><br>

<% }) %>

<h3 class="create-schedule-h3">To create a new Schedule, Please <a id="a1" href="/new">click here</a></h3>


 
