<% if(msg.length != 0) %>  <h2><%= msg %></h2><br>
<% users.forEach((user,index) => { %>
    <h3>Details of the user <%= (index+1) %></h4>
    <p>
        <strong>Name: </strong><%= user.firstname %> <%=user.lastname %>
    </p>
    <p>
        <strong>Email: </strong><%= user.email %>
    </p><br>
    
<% }) %>

